.teams-navigation
  .nav-link
    border-radius: 0px
    line-height: 45px

  .active
    background: #007bff
    color: #fff
  
  .teams-navigation-header
    padding: 15px 15px 0px

  .team-photo
    width: 45px
    height: 45px
    border-radius: 22.5px
    box-shadow: 0px 0px 2px 3px rgba(#5a5a5a, 0.3)

  i
    line-height: 45px
    font-size: 45px
  